
#countLabel{
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Cambria;

}

#btnContainer{
  text-align: center;
}

.button{
  padding: 10px 30px;
  font-size: 1em;
  color: antiquewhite;
  background-color: rgb(255, 0, 149);
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover{
 background-color: aqua; 
}